*{
    margin: 0;
    padding: 0;
}
.ps{
    min-width: 700px;
    display: flex;
    width: 90%;
    /* height: 490px; */
    margin: 100px auto;
    align-items: center;
    /* justify-content: center; */
}
.xz{
    display: flex;
    width: 640px;
    /* height: 490px; */
    justify-content: center;
    margin-left: 5%;
}
.xz img{
    width: 100%;
}
.wa{
   flex: 1;
   margin-left: 0;
   /* font-size: 14px; */
   display: flex;
   justify-content: center;
}
.cv{
    width: 350px;
    height: 100%;
}
.cv p{
    margin: 20px auto;
    line-height: 25px;
}
.bt{
    display: block;
    width: 80px;
    height: 25px;
    /* background-color:#ffd200; */
    line-height: 25px;
    text-align: center;
    border-radius: 15px;
    border:2px solid #666;
    font-size: 12px;
}
.bt:hover{
    background-color: #ffd200;
    transition: 0.8s;
}